body.index {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}
header.index {
	background-color: #1bdbbb;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
h1.index {
	margin: 0;
}
.container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px;
}
.project {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}
.project h2 {
	margin-top: 0;
}
.project p {
	margin-top: 10px;
}
.project a {
	color: black;
	text-decoration: underline;
}
footer.index {
	background-color: #1bdbbb;
	color: #fff;
	text-align: center;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
}

		
		/* Dropdown container */
.dropdown {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}


/* STYLE FOR ARTICLES */

body.articles {
	font-family:"Caslon Pro", serif;
	font-size: 1.65em;
	font-weight: 400;
	line-height: 1.75em;
	margin: 7% auto;
	padding: 10px 20px 10px 20px;
	max-width: 900px;
}

.dropcap::first-letter {
	float: left;
    font-size: 3.1em;
    margin-bottom: -0.2em;
    padding:0.45em 0.06em 0 0;
}

/* ny-logo*/
#ny-logo{
	text-align: center;
	display: block;
    margin: 0 auto;
    scale: 170%;
}


/* New Yorker article*/

/* IMPORTED FONTS */

@font-face {
    font-family: "Irvin Heading";
    font-weight: 400;
    src: url("fonts/Irvin-Heading.woff2") format("woff2");
    }

@font-face {
    font-family: "Caslon Pro";
    font-weight: 400;
    src: url("fonts/Caslon-Pro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Caslon Pro";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/Caslon-Pro-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Graphik Medium";
    font-weight: 500;
    src: url("fonts/Graphik-Medium.woff2") format("woff2");
}

/* Texas Monthly article (Trigger)*/

#Texas-title-logo{
	display: block;
	width: 30%;
	margin-bottom: 2em;
	margin-right: auto;
}

#txs{
	font-family: "Chronicle Display", serif;
	font-size: 47px;
	font-weight: 600;
	line-height: 1.25em;
}


.uppercase {
	font-family: "Titillium Web", sans-serif;
	font-size: 16.5px;
	font-weight:700;
	line-height: 1em;
	text-transform: uppercase;
}

table#tableTrigger {
	width: 100%;
	text-align: left;
	margin-bottom: 1.5em;
	border-collapse: collapse;
}

th, td {
	padding: 1.4em 0 1.4em 0;
	border-bottom: 1.5px solid rgba(229,229,229,1);
}

th {
	border-top: 8px solid;
}

/* IMPORTED FONTS */

@font-face {
    font-family: "Titillium Web";
    font-weight: 700;
    src: url("fonts/TitilliumWeb-Bold.ttf");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 400;
    src: url("fonts/ChronicleDisp-Roman.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 400;
    font-style: italic;
    src: url("fonts/ChronicleDisp-Italic.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 600;
    src: url("fonts/ChronicleDisp-Semibold.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 600;
    font-style: italic;
    src: url("fonts/ChronicleDisp-SemiboldItal.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 700;
    src: url("fonts/ChronicleDisp-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display";
    font-weight: 700;
    font-style: italic;
    src: url("fonts/ChronicleDisp-BoldItal.otf") format("opentype");
}

@font-face {
    font-family: "Chronicle Display Condensed";
    font-weight: 400;
    src: url("fonts/ChronicleDispCond-Roman.otf") format("opentype");
}